@import "config";
@import "nav";
@import "background";
@import "stars";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
}

body {
  font-family: $font-stack;
  line-height: 1.6;
  height: 100%;
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 120%);
  background-repeat: repeat;
  background-attachment: fixed;
}

.grey-cover {
  background-color: rgba(40, 38, 38, 0.7);
  width: 100vw;
  height: 80vh;
  z-index: 0;
  display: flex;
  flex-direction: row;

  .page-number-line-container {
    display: flex;
    flex-direction: column;
    padding-top: 10.5%;
    margin-left: 3%;
    justify-content: center;

    .page-number {
      font-family: "JetBrains Mono";
      margin-bottom: 600%;
      margin-left: 340%;

      color: #fff;
      font-size: 20px;
      writing-mode: vertical-rl;
    }
    .vertical-line {
      border-left: 6px solid #fff;
      height: 82%;
      margin-top: 1%;
      margin-left: 3.8%;
    }
  }
  .dest-shot-and-info-container {
    display: flex;
    flex-direction: row;
    flex: 1;
    position: relative;
    padding-top: 10%;

    .destination-shots-container {
      display: flex;
      flex-direction: row;
      width: 80%;
      height: 100%;
      align-items: flex-end;
      margin: 0 auto;
    }
  }

  .destination-brief-info {
    // flex: 1;
    // padding-right: 20%;

    margin-right: 20%;
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 50%;

    p {
    }
    .destination-intro {
      font-family: "JetBrains Mono";
      color: #e2942e;
      font-size: 1.3vw;
    }
    .destination-name {
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-weight: bold;
      font-size: 1.4vw;
      color: #fff;
    }

    .destination-distance {
      font-family: "JetBrains Mono";
      color: #c9374c;
      font-size: 1vw;
    }

    .destination-definition {
      text-align: justify;
      text-justify: inter-word;
      color: #fff;
      font-size: 1.1vw;
    }

    .read-more {
      color: #ffffff;
      font-size: 1.2vw;

      // text-decoration: none;
    }
  }
}

#first-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  // display: block;
  align-items: center;

  #astronaut-image-container {
    // margin: -50px auto 0 auto;
    // padding: 50px 0 0 0;
    display: block;

    height: 30%;
    padding-top: 40%;
    padding-left: 23%;

    // background: url(../assets/images/individual/Astronaut-Space-Transparent.png);
    background: url(../assets/images/individual/astronaut1.png);
    // background: url(../assets/images/individual/astronaut.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: initial;
    position: relative;

    #border-on-image {
      // display: flex;
      height: 80%;
      width: 80%;
      border: 10px solid #fff;
      position: absolute;
      top: 10%;
      right: 10%;1`
      display: flex;
    }
  }

  #first-container-info {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: right;

    #first-container-info-title {
      font-family: "JetBrains Mono";
      color: #e2942e;
      font-size: 150%;
    }

    #first-container-info-description {
      color: #ffffff;
      font-size: 1.1vw;
      text-align: justify;
      text-justify: inter-word;
    }

    #first-container-info-me {
      font-family: "JetBrains Mono";
      color: #c34255;
      font-size: 1vw;
    }
  }
}
#last-container {
  align-self: center;
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: xx-large;
}
