mixin destinationInfo(i)
      if(i==1||i==2||i==7)
         //- - console.log(i)
      else 
         //- - console.log(i-3)
         div(class="destination-brief-info" id=`destination-info-${i-3}`)
               p(class="destination-intro")
               p(class="destination-name")
               p(class="destination-distance")
               p(class="destination-definition")
               a(class="read-more" href="#") Read More →