mixin destinationInfo(i)
   div(class="destination-brief-info" id=`destination-info-${i}`)
      p(class="destination-intro")
      p(class="destination-name")
      p(class="destination-distance")
      p(class="destination-definition")
      a(class="read-more" href="") Read More →